/* CSS for the add icon container */
.addIcon {
    position: relative;
    display: inline-block;
  }
  
  /* CSS for the tooltip */
  .addIcon::after {
    content: "Add Image";
    position: absolute;
    bottom: 100%; /* Position above the icon */
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 14px;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  /* Show tooltip on hover */
  .addIcon:hover::after {
    visibility: visible;
    opacity: 1;
  }
  

  .error-message {
    color: red;
    background-color: rgba(225, 225, 140, 0.5);
    padding: 8px 12px; /* Adjust padding to provide sufficient spacing around text */
    border: 1px solid orange;
    margin: 10px 0px 15px 50px;
    border-radius: 5px; /* Smaller border radius for a softer look */
    display: inline-block; /* Ensures the div expands only as wide as necessary */
    max-width: 80%; /* Limits the width of the div to prevent excessive width */
    word-wrap: break-word; /* Allows long words to break onto the next line */
    box-sizing: border-box; /* Ensures padding and border are included in width calculation */
  }
   