

.image{
    background: url('../../Assets/REVA_UNIVERSITY.jpg');
    width: 100%;
    height: 50vh;
    display: flex;
    /* margin-top: 60px; */
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-position: center;
}