/* Assuming this is in your main stylesheet */

.post-container {
    /* padding: 20px; */
    /* border: 1px solid #ccc; */
    margin-top: 25px;
    margin-left: 20px;
    
    transition: transform 0.4s ease-in-out;
}

.post-container:hover {
    transform: scale(1.1); /* Scale up by 10% on hover */
    box-shadow: 0 0 0px rgba(225, 165, 0, 1); /* Optional: Add a subtle shadow */
}
